<% title 'Buildings and Contents Insurance' %>
<% description 'Your home and your belongings make up your world. Protect them with buildings and contents insurance.' %>
<% keywords 'Buildings and contents insurance, building and contents insurance comparison, luxury asset insurance' %>

<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.4), rgba(25, 31, 31, 0.4)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1565537262/AdobeStock_253292907_Preview.jpg);background-position: bottom;">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Insurance</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Buildings and Contents Insurance</span></h1>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7 col-lg-6 col-xl-5">
      <div class="sub-service-text">
        <p>
          Most people are familiar with buildings and contents insurance. As with finance, however, buildings and contents insurance for high net worth individuals (HNWIs) is a little more complicated to navigate – not least because the sums to be insured are so much higher, and many of the assets involved can be unusual.
        </p>
        <p>
          That means that securing the right level of cover isn’t just a case of running a buildings and contents insurance comparison search online. The services of a highly trained appraisals expert could be in order.
        </p>
        <p>
          For example, if you live in a Grade II listed building, mainstream insurers may find it difficult to assess the necessary level of cover to rebuild or repair the property.
        </p>
        <p>
          Meanwhile, if you have extremely valuable antiques, the chances are these won’t be protected under most conventional contents insurance policies, many of which only provide a blanket level of cover.
        </p>
        <p class="title">What is buildings and contents insurance?</p>
        <p>
          Buildings insurance is designed to cover the cost of repairing damage to the physical structure of a property. This damage could be caused in a range of ways, including but not limited to flood, fire, and vandalism.
        </p>
        <p>
          Buildings insurance is often a prerequisite of taking out a mortgage, so if you are in the process of <a href="/purchase-mortgages">arranging a mortgage</a> with Articus Finance, we will talk you through the buildings insurance process as standard.
        </p>
        <p>
          People are sometimes confused by what is covered under buildings insurance and what is covered under contents insurance – especially since the two are often spoken of in the same breath. Buildings insurance protects ‘permanent’ fixtures of the property, such as floors, windows, bathroom fixtures, and so on.
        </p>
        <p>
          Contents insurance, meanwhile, refers to the items within your home. Essentially, if it’s something you could pick up and move to a new property, it’ll likely fall under this bracket. Contents insurance can also cover items that leave your home and are kept about your person, such as jewellery and watches.
        </p>
        <p>
          While most people have contents insurance, wealthy individuals typically need to work with a specialist insurer to ensure they get the correct level of cover. An Articus broker can advise you on the best course of action, giving you peace of mind that your prized belongings are assessed by the right individual, leaving you with adequate cover.
        </p>
        <p class="title">Luxury asset insurance</p>
        <p>
          If you are a wealthy individual, you may have a range of luxury assets – from cars and other vehicles, to artwork or even highly valued handbags – that may need specialist protection, not least because the value of such items can fluctuate.
        </p>
        <p>
          We work with insurers who are well versed in providing cover for HNWIs, and can advise you accordingly after carrying out a thorough appraisal of your assets.
        </p>
        <p class="title">Why should you use a specialist insurer for buildings and contents insurance?</p>
        <p>
          When high value properties and assets are involved, an online buildings and contents comparison search is extremely unlikely to provide the answer you need. Our insurance contacts have decades of experience providing buildings and contents insurance for high net worth individuals, giving you total peace of mind that your world is as protected as it should be.
        </p>
      </div>
    </div>
    <%= render 'shared/mortgage_guide' %>
  </div>
</div>

<%= render 'shared/proven_expertise' %>

<div class="homepage-heading">
  <h2 class="back-line"><span>Related Services</span></h2>
</div>
<div class="container services-container mb-5">
  <div class="row">
    <%= render 'shared/insurance/related_life_insurance' %>
    <%= render 'shared/insurance/related_income_protection_insurance' %>
    <%= render 'shared/mortgages/related_purchase' %>
    <%= render 'shared/mortgages/related_remortgage' %>
  </div>
</div>

<%= render 'shared/contact_banner_pattern' %>
