<% title 'Income Protection Insurance' %>
<% description 'Income protection insurance is a fantastic cover option for protecting your world when you need it most' %>
<% keywords 'Income protection insurance, income protection insurance for self employed' %>

<div class="banner">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Insurance</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Income Protection Insurance</span></h1>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7">
      <div class="sub-service-text">
        <p>
          A type of cover that often gets overlooked – despite the fact it can be incredibly valuable – is income protection insurance. For some, this is simply due to a lack of awareness, while others see it as an unnecessary expense.
        </p>
        <p>
          Yet the reality is many of us will experience a period in life where we are unable to work for one reason or another. And if your family or dependents rely on your income to meet financial obligations, like the mortgage of a family home, then income protection insurance could be indispensable.
        </p>
        <p class="title">What is income protection insurance?</p>
        <p>
          Income protection insurance is a type of policy that will pay out in the event of your being unable to work, whether through illness or injury. This type of cover can replace part of your income during the period of your recovery, and will pay out until you are ready to begin work again.
        </p>
        <p>
          Although the exact nature of the illnesses or injuries covered will vary from insurer to insurer, these policies typically cover most of the issues that might leave you unable to work.
        </p>
        <p class="title">Critical illness cover</p>
        <p>
          Income protection insurance is not the only choice if you’re seeking cover to pay out in the event of poor health. Another option is critical illness cover (CIC), which pays out a lump sum if you are diagnosed with certain illnesses, many of which may leave you unable to work.
        </p>
        <p>
          Unsure as to whether CIC or income protection is appropriate for you? The best choice will depend on a range of factors, so an Articus Finance broker can advise you on which course of action to take.
        </p>
        <p class="title">Mortgage payment protection insurance</p>
        <p>
          If you specifically want a cover that will help you meet your mortgage payments in the event you are unable to work, it’s also possible to arrange mortgage payments protection insurance (MPPI). This is often arranged at the same time as taking out a mortgage, and will usually cover you for payment periods up to two years.
        </p>
        <p>
          However, standard mortgage payment protection often only covers a sum up to around £2,000 a month. If you have a high value mortgage, you may need to speak with a specialist provider to try and seek a higher level of cover.
        </p>
        <p class="title">Why should you use an income protection insurance broker?</p>
        <p>
          With so much to consider, it can be difficult to understand the exact pros and cons of each type of policy. A specialist broker like Articus can help you to make the right decision, all while ensuring you don’t pay over the odds for your policy.
        </p>
        <p>
          We also have a strong understanding of the options for those with niche requirements, such as income insurance protection for self-employed workers. Whatever your situation is, we have the network and the expertise to help.
        </p>
      </div>
    </div>
    <%= render 'shared/mortgage_guide' %>
  </div>
</div>

<%= render 'shared/proven_expertise' %>

<div class="homepage-heading">
  <h1 class="back-line"><span>Related Services</span></h1>
</div>
<div class="container services-container mb-5">
  <div class="row">
    <%= render 'shared/insurance/related_life_insurance' %>
    <%= render 'shared/insurance/related_buildings_contents_insurance' %>
    <%= render 'shared/mortgages/related_purchase' %>
    <%= render 'shared/mortgages/related_remortgage' %>
  </div>
</div>

<%= render 'shared/contact_banner_pattern' %>
