<% title 'Life Insurance for HNW Individuals' %>
<% description 'Do you need high value life insurance? Our specialist brokers can assist.' %>
<% keywords 'Insurance, high value insurance, insurance for high net worth, insurance broker' %>

<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.5), rgba(25, 31, 31, 0.5)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1565548376/AdobeStock_198235898_Preview.jpg);     background-position: bottom;">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Insurance</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Life Insurance for High Net Worth Individuals</span></h1>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7">
      <div class="sub-service-text">
        <p>
          Life insurance is intended to pay out a tax-free lump sum upon the death of an insured individual. Understandably, life insurance can be difficult to think about. But when it comes to protecting your family and dependents, it’s likely to be one of the most important things you can do.
        </p>
        <p>
          If you’re a high net worth individual (HNWI), this is an especially key consideration. Life insurance is helpful for many people, but for wealthy individuals with large financial obligations to meet, it’s often even more crucial.
        </p>
        <p>
          At the same time, the need for specialist advice is greater if you’re looking to take out a large policy. A mainstream provider may not be the best option, so seeking insurance designed for HNWIs could be the right path.
        </p>
        <p class="title">What are the different types of life insurance cover?</p>
        <p>
          There is a wide range of life insurance cover available to you, each type with its own benefits and costs. This includes:
        </p>
        <ul>
          <li><span style="font-weight:bold;">Decreasing term insurance: </span>typically the cheapest option, in which the level of cover diminishes over time</li>
          <li><span style="font-weight:bold;">Level term insurance: </span>in which the level of cover stays the same over time, and;</li>
          <li><span style="font-weight:bold;">Whole of life insurance: </span>which covers the insured individual for their entire lifetime, to pay out upon death</li>
        </ul>
        <p>
          Not sure where to begin? The best course of action for you will depend on your circumstances and your financial liabilities. If you have a <a href="/purchase-mortgages">mortgage</a> that you are working towards paying off, for example, decreasing term insurance may be appropriate.
        </p>
        <p>
          However, if you would like to provide an assured amount of cover for your dependents until they reach adulthood, level term may be a good fit. Whole of life is the most expensive option, but this is often a preferred option for ultra HNW clients.
        </p>
        <p class="title">Why should you use an insurance broker?</p>
        <p>
          Life cover is a worthwhile investment, but it’s something you need to get exactly right in order to ensure your dependents will receive the appropriate payout. For HNWIs, standard insurers can’t always guarantee this, especially if there are complex financial issues at play in the background.
        </p>
        <p>
          At Articus Finance, we understand these complexities and can advise you accordingly. We also have access to a wide range of specialists, including legal and tax experts, so you can rest assured your case has been considered from every angle.
        </p>
        <p>
          You should also consider using a life insurance broker if you don’t meet the tick box criteria of mainstream insurers. Many have very specific rules about the sort of individual they will provide a quote for – and when they do work outside of their ordinary criteria, the quoted premium can be exceedingly high.
        </p>
        <p>
          Just as we are able to provide property finance for a range of HNWIs with niche requirements, we are also able to provide life insurance quotes for those who have struggled elsewhere, such as those seeking life insurance over 60.
        </p>
      </div>
    </div>
    <%= render 'shared/mortgage_guide' %>
  </div>
</div>

<%= render 'shared/proven_expertise' %>

<div class="homepage-heading">
  <h2 class="back-line"><span>Related Services</span></h2>
</div>
<div class="container services-container mb-5">
  <div class="row">
    <%= render 'shared/insurance/related_income_protection_insurance' %>
    <%= render 'shared/insurance/related_buildings_contents_insurance' %>
    <%= render 'shared/mortgages/related_purchase' %>
    <%= render 'shared/mortgages/related_remortgage' %>
  </div>
</div>

<%= render 'shared/contact_banner_pattern' %>
