<div class="col-xs-12 col-md-5 col-xl-4 mb-4 py-3">
  <div class="blog">
    <%= link_to blog_show_path do %>
      <div class="blog-image">
        <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1567099792/istockphoto-486585598-1024x1024.jpg">
        <div class="blog-img-overlay"></div>
      </div>
      <div class="blog-text-box">
        <h5>1 August 2019</h5>
        <p class="blog-card-title">Introducing Articus Finance: a New Specialist Mortgage Broker</p>
        <p class="mb-0 mt-1 appearing-text">Articus Finance is pleased to announce the formal launch of our new website, marking...</p>
      </div>
    <% end %>
  </div>
</div>
<div class="col-xs-12 col-md-5 col-xl-4 mb-4 py-3">
  <div class="blog">
    <%= link_to blog_show_2_path do %>
      <div class="blog-image">
        <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1567099786/istockphoto-176834268-1024x1024.jpg">
        <div class="blog-img-overlay"></div>
      </div>
      <div class="blog-text-box">
        <h5>11 July 2019</h5>
        <p class="blog-card-title">Sed ut perspiciatis unde omnis iste natus error sit accusantium</p>
        <p class="mb-0 mt-1 appearing-text">Sed ut perspiciatis unde omnis natus sit sed ut perspiciatis unde omnis natus sit...</p>
      </div>
    <% end %>
  </div>
</div>
<div class="col-xs-12 col-md-5 col-xl-4 mb-4 py-3">
  <div class="blog">
    <%= link_to blog_show_3_path do %>
      <div class="blog-image">
        <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1567099785/istockphoto-900833846-1024x1024.jpg">
        <div class="blog-img-overlay"></div>
      </div>
      <div class="blog-text-box">
        <h5>11 July 2019</h5>
        <p class="blog-card-title">Sed ut perspiciatis unde omnis iste natus error sit accusantium</p>
        <p class="mb-0 mt-1 appearing-text">Sed ut perspiciatis unde omnis natus sit sed ut perspiciatis unde omnis natus sit...</p>
      </div>
    <% end %>
  </div>
</div>
<div class="col-xs-12 col-md-5 col-xl-4 mb-4 py-3">
  <div class="blog">
    <%= link_to blog_show_4_path do %>
      <div class="blog-image">
        <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1567099787/istockphoto-104794256-1024x1024.jpg">
        <div class="blog-img-overlay"></div>
      </div>
      <div class="blog-text-box">
        <h5>11 July 2019</h5>
        <p class="blog-card-title">Sed ut perspiciatis unde omnis iste natus error sit accusantium</p>
        <p class="mb-0 mt-1 appearing-text">Sed ut perspiciatis unde omnis natus sit sed ut perspiciatis unde omnis natus sit...</p>
      </div>
    <% end %>
  </div>
</div>
<div class="col-xs-12 col-md-5 col-xl-4 mb-4 py-3">
  <div class="blog">
    <%= link_to blog_show_5_path do %>
      <div class="blog-image">
        <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1567099785/istockphoto-467788688-1024x1024.jpg">
        <div class="blog-img-overlay"></div>
      </div>
      <div class="blog-text-box">
        <h5>11 July 2019</h5>
        <p class="blog-card-title">Sed ut perspiciatis unde omnis iste natus error sit accusantium</p>
        <p class="mb-0 mt-1 appearing-text">Sed ut perspiciatis unde omnis natus sit sed ut perspiciatis unde omnis natus sit...</p>
      </div>
    <% end %>
  </div>
</div>
<div class="col-xs-12 col-md-5 col-xl-4 mb-4 py-3">
  <div class="blog">
    <%= link_to blog_show_6_path do %>
      <div class="blog-image">
        <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1567099785/istockphoto-153640439-1024x1024.jpg">
        <div class="blog-img-overlay"></div>
      </div>
      <div class="blog-text-box">
        <h5>11 July 2019</h5>
        <p class="blog-card-title">Sed ut perspiciatis unde omnis iste natus error sit accusantium</p>
        <p class="mb-0 mt-1 appearing-text">Sed ut perspiciatis unde omnis natus sit sed ut perspiciatis unde omnis natus sit...</p>
      </div>
    <% end %>
  </div>
</div>
