<div class="my-5">
  <%= link_to case_study_show_path do %>
    <div class="case-study-card">
      <div class="case-study-card-image" style="background-image: url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568049049/18_Hazeldine_20190813_MH15749_Screen.jpg');">
        <div class="case-study-img-overlay"></div>
      </div>
      <div class="px-3 case-study-card-text">
        <div>
          <h3>High Loan to Value Property Purchase for UK National</h3>
          <p>In the UK, very few of the easily accessible high street lenders have an appetite for high-value mortgages. Many have...</p>
          <h5>View case study</h5>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="my-5">
<%= link_to case_study_show_2_path do %>
    <div class="case-study-card">
      <div class="case-study-card-image" style="background-image: url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568049971/iStock-1024189954.jpg');">
        <div class="case-study-img-overlay"></div>
      </div>
      <div class="px-3 case-study-card-text">
        <div>
          <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h3>
          <p class="my-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          <h5>View case study</h5>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="my-5">
  <%= link_to case_study_show_3_path do %>
    <div class="case-study-card">
      <div class="case-study-card-image" style="background-image: url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568049970/iStock-1011734140.jpg');">
        <div class="case-study-img-overlay"></div>
      </div>
      <div class="px-3 case-study-card-text">
        <div>
          <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h3>
          <p class="my-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          <h5>View case study</h5>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="my-5">
  <%= link_to case_study_show_4_path do %>
    <div class="case-study-card">
      <div class="case-study-card-image" style="background-image: url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568049976/iStock-1090942388.jpg');">
        <div class="case-study-img-overlay"></div>
      </div>
      <div class="px-3 case-study-card-text">
        <div>
          <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h3>
          <p class="my-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          <h5>View case study</h5>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="my-5">
  <%= link_to case_study_show_5_path do %>
    <div class="case-study-card">
      <div class="case-study-card-image" style="background-image: url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568051932/shutterstock_793935127.jpg');">
        <div class="case-study-img-overlay"></div>
      </div>
      <div class="px-3 case-study-card-text">
        <div>
          <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h3>
          <p class="my-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          <h5>View case study</h5>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="my-5">
  <%= link_to case_study_show_6_path do %>
    <div class="case-study-card">
      <div class="case-study-card-image" style="background-image: url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568049964/iStock-501367702.jpg');">
        <div class="case-study-img-overlay"></div>
      </div>
      <div class="px-3 case-study-card-text">
        <div>
          <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h3>
          <p class="my-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          <h5>View case study</h5>
        </div>
      </div>
    </div>
  <% end %>
</div>
