<div class="my-5">
  <%= link_to case_study_show_path do %>
    <div class="case-study-card">
      <div class="case-study-card-image" style="background-image: url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1567107937/003_Hazeldine_20190813_MH15749_Proof.jpg');">
        <div class="case-study-img-overlay"></div>
      </div>
      <div class="px-3 case-study-card-text">
        <div>
          <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h3>
          <p class="my-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          <h5>View case study</h5>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="my-5">
<%= link_to case_study_show_2_path do %>
    <div class="case-study-card">
      <div class="case-study-card-image" style="background-image: url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1567099152/istockphoto-1024189954-1024x1024_1.jpg');">
        <div class="case-study-img-overlay"></div>
      </div>
      <div class="px-3 case-study-card-text">
        <div>
          <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h3>
          <p class="my-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          <h5>View case study</h5>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="my-5">
  <%= link_to case_study_show_3_path do %>
    <div class="case-study-card">
      <div class="case-study-card-image" style="background-image: url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1567099152/istockphoto-1011734140-1024x1024.jpg');">
        <div class="case-study-img-overlay"></div>
      </div>
      <div class="px-3 case-study-card-text">
        <div>
          <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h3>
          <p class="my-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          <h5>View case study</h5>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="my-5">
  <%= link_to case_study_show_4_path do %>
    <div class="case-study-card">
      <div class="case-study-card-image" style="background-image: url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1567099152/istockphoto-1090942388-1024x1024.jpg');">
        <div class="case-study-img-overlay"></div>
      </div>
      <div class="px-3 case-study-card-text">
        <div>
          <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h3>
          <p class="my-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          <h5>View case study</h5>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="my-5">
  <%= link_to case_study_show_5_path do %>
    <div class="case-study-card">
      <div class="case-study-card-image" style="background-image: url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1567099153/istockphoto-1071380180-1024x1024.jpg');">
        <div class="case-study-img-overlay"></div>
      </div>
      <div class="px-3 case-study-card-text">
        <div>
          <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h3>
          <p class="my-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          <h5>View case study</h5>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="my-5">
  <%= link_to case_study_show_6_path do %>
    <div class="case-study-card">
      <div class="case-study-card-image" style="background-image: url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1567099152/istockphoto-972636368-1024x1024.jpg');">
        <div class="case-study-img-overlay"></div>
      </div>
      <div class="px-3 case-study-card-text">
        <div>
          <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h3>
          <p class="my-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          <h5>View case study</h5>
        </div>
      </div>
    </div>
  <% end %>
</div>
