<% title 'Bridging Loans' %>
<% description 'Looking for bridging loans and seeking the best bridging loan interest rates? Our bridging brokers can help.' %>
<% keywords 'Bridging loans, short term loans, bridging loans interest rates' %>

<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.35), rgba(25, 31, 31, 0.35)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1566572418/004_Hazeldine_20190813_MH16427_Proof.jpg); background-position: center;">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Bridging</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Bridging Loans</span></h1>
</div>

<div class="container">
  <div class="service-text-container text-center">
    <p>
      Bridging loans have become an increasingly popular source of finance in recent years. It’s not hard to see why – in the fast moving world of property, having the freedom to move quickly and take advantage of key opportunities can make all the difference.
    </p>
    <p>
      Unfortunately, conventional <a href="/purchase-mortgages">mortgage finance</a> can take weeks or even months to arrange, causing frustration and leaving you unable to capitalise on the opportunity you’d hoped to.
    </p>
    <p>
      Bridging loans can provide a solution. Short-term finance can be arranged quickly, putting you in a position to move fast. However, applicants should tread carefully. The world of bridging finance is somewhat outside the mainstream, so bridging loans can be complicated to arrange.
    </p>
    <p>
      A broker like Articus Finance can help. Whether you’re wondering how bridging loans work, would like to know more about how you can use short term loans to your advantage, or wish to enquire about the best bridging loans interest rates currently on the market, our brokers would be happy to discuss your options.
    </p>
  </div>
</div>

<!-- Sub-Services -->

<div class="container tri-services-container mb-5">
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= link_to residential_bridging_loans_path do %>
        <div class="card-style service-card-tri service-card" style="background-image: linear-gradient(rgba(25,31,31,0.65),rgba(25,31,31,0.65)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
          <div class="service-card-title">
            <h3>Residential Bridging Loans</h3>
          </div>
          <div class="service-card-padding-tri">
            <button class="home-btn">Read More</button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-sm-4">
      <%= link_to unregulated_bridging_loans_path do %>
        <div class="card-style service-card-tri service-card" style="background-image: linear-gradient(rgba(25,31,31,0.65),rgba(25,31,31,0.65)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
          <div class="service-card-title">
            <h3>Unregulated Bridging Loans</h3>
          </div>
          <div class="service-card-padding-tri">
            <button class="home-btn">Read More</button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-sm-4">
      <%= link_to second_charge_bridging_loans_path do %>
        <div class="card-style service-card-tri service-card" style="background-image: linear-gradient(rgba(25,31,31,0.65),rgba(25,31,31,0.65)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
          <div class="service-card-title">
            <h3>Second Charge Business Loans</h3>
          </div>
          <div class="service-card-padding-tri">
            <button class="home-btn">Read More</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/contact_banner' %>
