<% set_meta_tags title: 'Second Charge Bridging Loans',
                 description: 'If you need a second charge bridging loan for a house purchase, an Articus Finance broker can help negotiate and secure the best rate for your situation.',
                 keywords: 'Second charge bridging loans, second charge bridging finance',
                 reverse: true %>

<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.35), rgba(25, 31, 31, 0.35)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568049981/iStock-1127466679.jpg); background-position: center;">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Bridging</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Second Charge Bridging Loans</span></h1>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7 col-lg-6 col-xl-5">
      <div class="sub-service-text">
        <p>
          A second charge bridging loan is a type of finance secured against a property which already has a mortgage against it. This pre-existing mortgage is known as the ‘first charge’.
        </p>
        <p>
          If your property has accrued enough equity, it’s possible that you may be able to access additional borrowing against it. Say your asset is worth £2 million, and you have an outstanding mortgage of £1 million. That would mean you have a further £1 million of equity in the property – so you could potentially take out second charge bridging finance against this value.
          </p>
        <p>
          Generally, second charge finance can be secured up to a rate of around 70% loan to value, meaning you could potentially borrow around £700,000 in this instance.
        </p>
        <p class="title">What can you use second charge bridging finance for?</p>
        <p>
          A second charge bridging loan may be the right solution if you don’t want to <a href="/remortgage">refinance</a> your existing mortgage deal, but need additional borrowing. For example, if you’re looking to raise money to complete an extension or renovations, second charge finance could help you achieve this without incurring fees from refinancing, or disrupting a favourable first charge mortgage deal.
        </p>
        <p class="title">Why are second charge bridging loans more complicated?</p>
        <p>
          Second charge bridging loans are considered a higher risk proposition from a lender’s perspective, as if you already have a first charge, your previous mortgage company will have first claim in the event of a default.
        </p>
        <p>
          The increased risk means any prospective lender will need to see that you have a clear and viable exit strategy in place. This will generally either be an overall remortgaging or sale of the property in question.
        </p>
        <p class="title">Why should you use a broker for second charge bridging loans?</p>
        <p>
          It’s not hard to see how second charge bridging finance could very quickly get complicated, and as a result of the increased risk, there aren’t a huge amount of lenders willing to offer this sort of loan – and those who do often charge high interest rates and fees.
        </p>
        <p>
          Bridging finance is expensive in and of itself, and understandably, second charge loans can be even more so. A broker like Articus Finance can negotiate the best deal on your behalf, working with our wide network of lenders to find the ideal resolution.
        </p>
        <p>
          We can also help you to establish if a second charge bridging loan is in fact the best course of action. For example, you might be seeking second charge finance to avoid an early repayment charge on your existing loan. In some circumstances, however, <a href="/remortgage">refinancing</a> could still be a better option once you consider the interest you’ll pay over the life of the loan.
        </p>
        <p>
          Our experienced brokers can explore various scenarios to ensure we establish the best choice for you.
        </p>
      </div>
    </div>
    <%= render 'shared/mortgage_guide' %>
  </div>
</div>

<%= render 'shared/proven_expertise' %>

<div class="homepage-heading">
  <h2 class="back-line"><span>Related Services</span></h2>
</div>
<div class="container services-container mb-5">
  <div class="row">
    <%= render 'shared/bridging/related_residential' %>
    <%= render 'shared/bridging/related_non_regulated' %>
    <%= render 'shared/bridging/related_property_refurbishment' %>
    <%= render 'shared/mortgages/related_remortgage' %>
  </div>
</div>

<%= render 'shared/contact_banner_pattern' %>
