<% title 'Unregulated Bridging Loans' %>
<% description 'Searching for unregulated bridging loans? Our expert team of brokers can help you secure the best rates.' %>
<% keywords 'Unregulated bridging loans, non regulated bridging loans' %>

<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.3), rgba(25, 31, 31, 0.3)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1567096609/istockphoto-684134512-1024x1024.jpg); background-position: center;">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Bridging</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Unregulated Bridging Loans</span></h1>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7 col-lg-6 col-xl-5">
      <div class="sub-service-text">
        <p>
          Unregulated bridging loans are a type of short-term finance facility, which can be used to help you move quickly and seize a strategic opportunity. With terms ranging from one month to a year, or even a little longer, non regulated bridging loans can be arranged in a very short time period, making them a valuable tool for various types of property investor.
        </p>
        <p class="title">What’s the difference between regulated and unregulated bridging loans?</p>
        <p>
          While the term ’unregulated bridging loan’ might sound risky, it simply reflects the intended use of the property. If you’re looking to arrange a bridging loan against a property you are going to live in, this would be a <a href="/residential-bridging-loans">regulated loan</a>.
        </p>
        <p>
          However, if the property <span style="font-style:italic;">isn’t</span> one you or an immediate family member will live in, this would be classed as an unregulated bridging loan. Unregulated bridging loans can be either first or second charge. A broker can advise you further on which sort of bridging loan is appropriate for you.
        </p>
        <p class="title">What can you use an unregulated bridging loan for?</p>
        <p>
          Whether you are purchasing or refinancing, you could expect to use unregulated bridging finance for:
        </p>
        <ul>
          <li>Commercial and semi-commercial property, such as a shop/restaurant unit with a flat above it</li>
          <li>Buy to let property</li>
          <li>Property which you intend to <a href="/property-refurbishment-finance">refurbish</a> and sell on for profit; or</li>
          <li>Land, with or without planning permission</li>
        </ul>
        <p class="title">Why should you use a broker to arrange an unregulated bridging loan?</p>
        <p>
          While it’s an incredibly useful financial tool, bridging finance is also complicated, especially if you are looking to borrow a large sum of money. As such, it’s not advisable to seek out a large bridging loan without any guidance.
        </p>
        <p>
          Our brokers have arranged many unregulated bridging loans over the years, so we’re well versed in the nuances of bridging finance and can ensure the process runs smoothly.
        </p>
        <p>
          Using a broker can also help save you money over the life of a loan. Bridging finance has a reputation for being expensive, and it’s certainly more costly than standard mortgage finance.
        </p>
        <p>
          That said, high levels of competition between lenders in today’s market means there are certainly some very good deals to be secured, if you employ the right intermediary to negotiate on your behalf. By working with a broker, you may be pleasantly surprised by the terms you achieve.
        </p>
      </div>
    </div>
    <%= render 'shared/mortgage_guide' %>
  </div>
</div>

<%= render 'shared/proven_expertise' %>

<div class="homepage-heading">
  <h2 class="back-line"><span>Related Services</span></h2>
</div>
<div class="container services-container mb-5">
  <div class="row">
    <%= render 'shared/bridging/related_second_charge' %>
    <%= render 'shared/bridging/related_property_refurbishment' %>
    <%= render 'shared/mortgages/related_purchase' %>
    <%= render 'shared/mortgages/related_remortgage' %>
  </div>
</div>

<%= render 'shared/contact_banner_pattern' %>
