<div class="banner banner-service">
  <div class="banner-container container">
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Articus Blog</span></h1>
</div>


    <div class="container">
        <div class="row my-5">
          <%= render 'shared/blog_card' %>
          <%= render 'shared/blog_card' %>
          <%= render 'shared/blog_card' %>
          <%= render 'shared/blog_card' %>
          <%= render 'shared/blog_card' %>
          <%= render 'shared/blog_card' %>
        </div>
      </div>
    </div>
