<div class="banner">
  <div class="banner-container container banner-container-page">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Insight & Opinion</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Blog</span></h1>
</div>

<div class="container">
    <div class="row blog-row my-5 justify-content-center">
      <%= render 'shared/blog_card' %>
      <%= render 'shared/blog_card' %>
      <%= render 'shared/blog_card' %>
      <%= render 'shared/blog_card' %>
      <%= render 'shared/blog_card' %>
      <%= render 'shared/blog_card' %>
    </div>
  </div>
</div>
