<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.3), rgba(25, 31, 31, 0.3)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1567097439/istockphoto-905393544-1024x1024.jpg); background-position: center;">
  <div class="banner-container container banner-container-page">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Insight & Opinion</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Blog</span></h1>
</div>

<div class="container">
    <div class="row blog-row my-5 justify-content-center">
      <%= render 'shared/blog_card' %>
    </div>
  </div>
</div>

<%= render 'shared/proven_expertise' %>

<div class="homepage-heading">
  <h1 class="back-line"><span>Guides</span></h1>
</div>
<div class="d-none d-sm-block">
  <%= render 'shared/guides' %>
</div>
<div class="d-sm-none mb-5">
  <%= render 'shared/guides_carousel' %>
</div>
<div class="guide-button-container">
  <%= link_to "View our guide library", guides_path, class: "home-btn" %>
</div>

<%= render 'shared/contact_banner' %>
