<% title 'Mortgage Deals For HNW and Complex Clients' %>
<% description 'Articus Finance sources the best mortgage deals for global clients. We are a London based team of specialist mortgage brokers, experienced in securing high value mortgages.' %>

<div class="banner">
  <div class="banner-container container banner-container-page">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Frequently Asked Questions</h3>
  </div>
</div>

<div class="row faq-margin">
  <div class="col-12 col-sm-3 border-right p-0">
    <div class="nav faq-nav flex-sm-column justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="general-tab" data-toggle="pill" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
      <a class="nav-link" id="types-tab" data-toggle="pill" href="#types" role="tab" aria-controls="types" aria-selected="false">Different Types of Mortgages</a>
      <a class="nav-link" id="about-tab" data-toggle="pill" href="#about" role="tab" aria-controls="about" aria-selected="false">About Articus Finance</a>
      <a class="nav-link" id="btl-tab" data-toggle="pill" href="#btl" role="tab" aria-controls="btl" aria-selected="true">How does buy-to-let work?</a>
      <a class="nav-link" id="insurance-tab" data-toggle="pill" href="#insurance" role="tab" aria-controls="insurance" aria-selected="false">Mortgage Insurance</a>
      <a class="nav-link" id="fees-tab" data-toggle="pill" href="#fees" role="tab" aria-controls="fees" aria-selected="false">Fees</a>
    </div>
  </div>
  <div class="col-12 col-sm-9 sm-faq-margin-top">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <button class="btn btn-link mb-0" type="button" data-toggle="collapse" data-target="#general-1" aria-expanded="true" aria-controls="collapseOne">
                General - Our service fee
              </button>
            </div>
            <div id="general-1" class="collapse show" aria-labelledby="headingOne" data-parent="#general">
              <div class="card-body">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <button class="btn btn-link collapsed mb-0" type="button" data-toggle="collapse" data-target="#general-2" aria-expanded="false" aria-controls="collapseTwo">
                General - How does the platform work?
              </button>
            </div>
            <div id="general-2" class="pl-4 collapse" aria-labelledby="headingTwo" data-parent="#general">
              <div class="card-body">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="types" role="tabpanel" aria-labelledby="types-tab">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <button class="btn btn-link mb-0" type="button" data-toggle="collapse" data-target="#types-1" aria-expanded="true" aria-controls="collapseOne">
                Types - Our service fee
              </button>
            </div>
            <div id="types-1" class="collapse show" aria-labelledby="headingOne" data-parent="#types">
              <div class="card-body">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <button class="btn btn-link collapsed mb-0" type="button" data-toggle="collapse" data-target="#types-2" aria-expanded="false" aria-controls="collapseTwo">
                Types - How does the platform work?
              </button>
            </div>
            <div id="types-2" class="collapse" aria-labelledby="headingTwo" data-parent="#types">
              <div class="card-body">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <button class="btn btn-link mb-0" type="button" data-toggle="collapse" data-target="#about-1" aria-expanded="true" aria-controls="collapseOne">
                About - Our service fee
              </button>
            </div>
            <div id="about-1" class="collapse show" aria-labelledby="headingOne" data-parent="#about">
              <div class="card-body">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <button class="btn btn-link collapsed mb-0" type="button" data-toggle="collapse" data-target="#about-2" aria-expanded="false" aria-controls="collapseTwo">
                About - How does the platform work?
              </button>
            </div>
            <div id="about-2" class="collapse" aria-labelledby="headingTwo" data-parent="#about">
              <div class="card-body">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <button class="btn btn-link collapsed mb-0" type="button" data-toggle="collapse" data-target="#about-3" aria-expanded="false" aria-controls="collapseTwo">
                About - How does the platform work when on mobile??
              </button>
            </div>
            <div id="about-3" class="collapse" aria-labelledby="headingTwo" data-parent="#about">
              <div class="card-body">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="btl" role="tabpanel" aria-labelledby="btl-tab">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <button class="btn btn-link mb-0" type="button" data-toggle="collapse" data-target="#btl-1" aria-expanded="true" aria-controls="collapseOne">
                BTL - Our service fee
              </button>
            </div>
            <div id="btl-1" class="collapse show" aria-labelledby="headingOne" data-parent="#btl">
              <div class="card-body">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <button class="btn btn-link collapsed mb-0" type="button" data-toggle="collapse" data-target="#btl-2" aria-expanded="false" aria-controls="collapseTwo">
                BTL - How does the platform work?
              </button>
            </div>
            <div id="btl-2" class="collapse" aria-labelledby="headingTwo" data-parent="#btl">
              <div class="card-body">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="insurance" role="tabpanel" aria-labelledby="insurance-tab">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <button class="btn btn-link mb-0" type="button" data-toggle="collapse" data-target="#insurance-1" aria-expanded="true" aria-controls="collapseOne">
                Insurance - Our service fee
              </button>
            </div>
            <div id="insurance-1" class="collapse show" aria-labelledby="headingOne" data-parent="#insurance">
              <div class="card-body">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <button class="btn btn-link collapsed mb-0" type="button" data-toggle="collapse" data-target="#insurance-2" aria-expanded="false" aria-controls="collapseTwo">
                Insurance - How does the platform work?
              </button>
            </div>
            <div id="insurance-2" class="collapse" aria-labelledby="headingTwo" data-parent="#insurance">
              <div class="card-body">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="fees" role="tabpanel" aria-labelledby="fees-tab">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <button class="btn btn-link mb-0" type="button" data-toggle="collapse" data-target="#fees-1" aria-expanded="true" aria-controls="collapseOne">
                Fees - Our service fee
              </button>
            </div>
            <div id="fees-1" class="collapse show" aria-labelledby="headingOne" data-parent="#fees">
              <div class="card-body">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <button class="btn btn-link collapsed mb-0" type="button" data-toggle="collapse" data-target="#fees-2" aria-expanded="false" aria-controls="collapseTwo">
                Fees - How does the platform work?
              </button>
            </div>
            <div id="fees-2" class="collapse" aria-labelledby="headingTwo" data-parent="#fees">
              <div class="card-body">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/contact_banner' %>

<div class="homepage-heading">
  <h1 class="back-line"><span>Guides</span></h1>
</div>

<div class="d-none d-sm-block">
  <%= render 'shared/guides' %>
</div>

<div class="d-sm-none mb-5">
  <%= render 'shared/guides_carousel' %>
</div>

<div class="guide-button-container">
  <%= link_to "View our guide library", guides_path, class: "home-btn" %>
</div>








