<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.3), rgba(25, 31, 31, 0.3)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1565550075/AdobeStock_113326122_Preview.jpg); background-position: bottom;">
  <div class="banner-container container banner-container-page">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Frequently Asked Questions</h3>
  </div>
</div>

<div class="row faq-margin justify-content-center">
  <div class="col-12 col-sm-3 border-right p-0">
    <div class="nav faq-nav flex-sm-column justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="general-tab" data-toggle="pill" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
      <a class="nav-link" id="types-tab" data-toggle="pill" href="#types" role="tab" aria-controls="types" aria-selected="false">Services</a>
      <a class="nav-link" id="about-tab" data-toggle="pill" href="#about" role="tab" aria-controls="about" aria-selected="false">Loans & Service Fees</a>
      <a class="nav-link" id="btl-tab" data-toggle="pill" href="#btl" role="tab" aria-controls="btl" aria-selected="true">Global Reach</a>
      <a class="nav-link" id="insurance-tab" data-toggle="pill" href="#insurance" role="tab" aria-controls="insurance" aria-selected="false">Lenders</a>
      <a class="nav-link" id="fees-tab" data-toggle="pill" href="#fees" role="tab" aria-controls="fees" aria-selected="false">Opening Hours</a>
    </div>
  </div>
  <div class="col-12 col-sm-9 col-md-8 col-xl-5 sm-faq-margin-top">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <button class="btn btn-link mb-0" type="button" data-toggle="collapse" data-target="#general-1" aria-expanded="true" aria-controls="collapseOne">
                Who is Articus Finance?
              </button>
            </div>
            <div id="general-1" class="collapse show" aria-labelledby="headingOne" data-parent="#general">
              <div class="card-body">
                <p>Articus Finance is a team of experienced specialist brokers, who offer mortgage and insurance advice for high net worth clients in the UK.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <button class="btn btn-link collapsed mb-0" type="button" data-toggle="collapse" data-target="#general-2" aria-expanded="false" aria-controls="collapseTwo">
                Where is Articus based?
              </button>
            </div>
            <div id="general-2" class="pl-4 collapse" aria-labelledby="headingTwo" data-parent="#general">
              <div class="card-body">
                <p>Articus is based in central London, a stone’s throw from Bank station.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="types" role="tabpanel" aria-labelledby="types-tab">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <button class="btn btn-link mb-0" type="button" data-toggle="collapse" data-target="#types-1" aria-expanded="true" aria-controls="collapseOne">
                What services does Articus offer?
              </button>
            </div>
            <div id="types-1" class="collapse show" aria-labelledby="headingOne" data-parent="#types">
              <div class="card-body">
                <p>We can secure mortgage finance for a range of UK property types, including residential and buy to let. We can also help arrange insurance cover for a range of assets, as well as personal insurance.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <button class="btn btn-link collapsed mb-0" type="button" data-toggle="collapse" data-target="#types-2" aria-expanded="false" aria-controls="collapseTwo">
                What is the process of working with Articus?
              </button>
            </div>
            <div id="types-2" class="collapse" aria-labelledby="headingTwo" data-parent="#types">
              <div class="card-body">
                <p>Once you’ve been in touch for an initial consultation, our specialist mortgage brokers will explain the process in full.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <button class="btn btn-link mb-0" type="button" data-toggle="collapse" data-target="#about-1" aria-expanded="true" aria-controls="collapseOne">
                Do you have a minimum loan size?
              </button>
            </div>
            <div id="about-1" class="collapse show" aria-labelledby="headingOne" data-parent="#about">
              <div class="card-body">
                <p>We typically have a minimum loan size of £500,000, although this is subject to your circumstances.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <button class="btn btn-link collapsed mb-0" type="button" data-toggle="collapse" data-target="#about-2" aria-expanded="false" aria-controls="collapseTwo">
                What is Articus’ fee?
              </button>
            </div>
            <div id="about-2" class="collapse" aria-labelledby="headingTwo" data-parent="#about">
              <div class="card-body">
                <p>Our fee will depend on your situation, but as a rough guide, we charge 0.65% of the loan amount for residential property mortgages. For other asset types, your fee will be illustrated after you have made an enquiry.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="btl" role="tabpanel" aria-labelledby="btl-tab">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <button class="btn btn-link mb-0" type="button" data-toggle="collapse" data-target="#btl-1" aria-expanded="true" aria-controls="collapseOne">
                Do you work with global clients?
              </button>
            </div>
            <div id="btl-1" class="collapse show" aria-labelledby="headingOne" data-parent="#btl">
              <div class="card-body">
                <p>Yes. Although we secure finance against properties in the UK, we can work with clients from around the world, including foreign nationals and expats.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="insurance" role="tabpanel" aria-labelledby="insurance-tab">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <button class="btn btn-link mb-0" type="button" data-toggle="collapse" data-target="#insurance-1" aria-expanded="true" aria-controls="collapseOne">
                How do you find the appropriate lender?
              </button>
            </div>
            <div id="insurance-1" class="collapse show" aria-labelledby="headingOne" data-parent="#insurance">
              <div class="card-body">
                <p>After taking your details and gaining a full understanding of your situation, we search the whole of the market to find the best mortgage deal – and the most appropriate lender – for you.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <button class="btn btn-link collapsed mb-0" type="button" data-toggle="collapse" data-target="#insurance-2" aria-expanded="false" aria-controls="collapseTwo">
                What lenders do you work with?
              </button>
            </div>
            <div id="insurance-2" class="collapse" aria-labelledby="headingTwo" data-parent="#insurance">
              <div class="card-body">
                <p>We work with a full range of UK mortgage providers, from investment and private banks to high street names. Our strong relationships across the industry enable us to ensure you are placed with the most suitable lender for your situation.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="fees" role="tabpanel" aria-labelledby="fees-tab">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <button class="btn btn-link mb-0" type="button" data-toggle="collapse" data-target="#fees-1" aria-expanded="true" aria-controls="collapseOne">
                When is Articus open?
              </button>
            </div>
            <div id="fees-1" class="collapse show" aria-labelledby="headingOne" data-parent="#fees">
              <div class="card-body">
                <p>Articus is open from Monday to Friday, 9am to 5.30pm.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/contact_banner' %>

<div class="homepage-heading">
  <h1 class="back-line"><span>Guides</span></h1>
</div>

<div class="d-none d-sm-block">
  <%= render 'shared/guides' %>
</div>

<div class="d-sm-none mb-5">
  <%= render 'shared/guides_carousel' %>
</div>

<div class="guide-button-container">
  <%= link_to "View our guide library", guides_path, class: "home-btn" %>
</div>








