<% title 'Mortgage Deals For HNW and Complex Clients' %>
<% description 'Articus Finance sources the best mortgage deals for global clients. We are a London based team of specialist mortgage brokers, experienced in securing high value mortgages.' %>

<div class="homepage-heading">
  <h1 class="back-line"><span>Guide 1 - Singulis Anim Life Occaecat</span></h1>
</div>

<div class="sub-page-container guide-show-margin">
  <div class="row justify-content-center">
    <div class="col-12 col-md-5 guide-show-padding">
      <div class="guide-card">
        <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1564040336/guide_show_image.png">
        <div class="btn-container">
          <button type="button" class="w-100 home-btn light-btn" data-toggle="modal" data-target="#exampleModal">Download Now</button>
          <%= render 'shared/modal' %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5">
      <div class="guide-text">
        <h6>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </h6>
        <br>
        <h6>
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </h6>
      </div>
    </div>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Our Guide Library</span></h1>
</div>
<div class="d-none d-sm-block mb-5">
  <%= render 'shared/guides' %>
</div>
<div class="d-sm-none">
  <%= render 'shared/guides_carousel' %>
</div>

<%= render 'shared/contact_banner' %>
<%= render 'shared/services' %>

