<%= render 'shared/guides_meta_tags' %>

<div class="homepage-heading">
  <h1 class="back-line"><span>£1 million plus mortgages</span></h1>
</div>

<div class="sub-page-container guide-show-margin">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-8 col-md-5 guide-show-padding">
      <div class="guide-card">
        <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568449706/Guide-show-image.png" data-toggle="modal" data-target="#exampleModal">
        <div class="btn-container">
          <button type="button" class="mt-4 w-100 home-btn light-btn" data-toggle="modal" data-target="#exampleModal">Download Now</button>
          <%= render 'shared/modal' %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5">
      <div class="guide-text">
        <p>
        If you’re searching for a mortgage over £1 million, you may have already discovered how challenging this can be. Although it’s possible to secure such a large mortgage at UK high street banks, you may find you can’t secure the interest rate, the loan to value, or terms that suit your situation.
        </p>
        <br>
        <p>
        In this guide, we uncover some of the secrets to successfully navigating the £1 million plus mortgage market – helping you to achieve the borrowing you need to purchase your dream home, or remortgage an asset you already own.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Our Guide Library</span></h1>
</div>
<div class="d-none d-sm-block mb-5">
  <%= render 'shared/guides' %>
</div>
<div class="d-sm-none mb-5">
  <%= render 'shared/guides_carousel' %>
</div>

<%= render 'shared/contact_banner' %>
<%= render 'shared/services' %>

