<% set_meta_tags title: 'Mortgage Deals For HNW and Complex Clients',
                 description: 'Are you looking for high value mortgages? We can negotiate the best mortgages and rates for your specific situation, regardless of complexity.',
                 keywords: 'mortgage broker, best mortgage deals, specialist mortgage brokers, best mortgage rates',
                 reverse: true %>

<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.45), rgba(25, 31, 31, 0.45)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568049054/01_Hazeldine_20190813_MH16082_Screen.jpg);background-position: top;">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Finance</h3>
    <h1>Articus Finance is a boutique mortgage broker which secures the best mortgage deals for wealthy individuals in the UK</h1>
  </div>
</div>

<%= render 'shared/services' %>

<!-- USPs -->

<div class="homepage-heading">
  <h2 class="back-line"><span>Why Choose Us?</span></h2>
</div>
<div class="container usp-container">
  <div class="row justify-content-center mt-4 mb-3">
    <div class="col-10 col-sm-6 col-lg-5 mb-4">
      <div class="d-flex">
        <div>
          <i class="icon far fa-check-circle"></i>
        </div>
        <div>
          <h3>Bespoke service</h3>
          <p>We provide a premium mortgage service for high net worth clients, working quickly and discreetly to achieve your desired outcome</p>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-6 col-lg-5 mb-4">
      <div class="d-flex">
        <i class="icon far fa-lightbulb"></i>
        <div>
          <h3>Specialist knowledge</h3>
          <p>For our expert brokers, no situation is too complicated – our market knowledge means we find solutions where others can’t</p>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-6 col-lg-5 mb-4">
      <div class="d-flex">
        <div>
          <i class="icon fas fa-handshake"></i>
        </div>
        <div>
          <h3>Industry relationships</h3>
          <p>We have exceptional lender relationships across the UK and globally, enabling us to negotiate the best mortgage rates for your situation</p>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-6 col-lg-5 mb-4">
      <div class="d-flex">
        <i class="icon fas fa-shield-alt"></i>
        <div>
          <h3>Transparency and trust</h3>
          <p>Our impartial advisors pride themselves on their commitment to transparency, giving you peace of mind during the process</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/proven_expertise' %>

<div class="homepage-heading">
  <h2 class="back-line"><span>Guide Library</span></h2>
</div>
<div class="d-none d-sm-block">
  <%= render 'shared/guides' %>
</div>
<div class="d-sm-none mb-5">
  <%= render 'shared/guides_carousel' %>
</div>
<div class="guide-button-container">
  <%= link_to "View our guide library", guides_path, class: "home-btn" %>
</div>

<%= render 'shared/contact_banner' %>




