<div class="banner">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <div>
      <h3>Finance</h3>
      <p>A London based team of specialist mortgage brokers, experienced in securing high value mortgages</p>
    </div>
  </div>
</div>

<%= render 'shared/services' %>

<!-- USPs -->

<div class="homepage-heading">
  <h1 class="back-line"><span>Why Choose Us?</span></h1>
</div>
<div class="container usp-container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-lg-5 mb-4">
      <div class="d-flex">
        <div>
          <i class="fas fa-cog"></i>
        </div>
        <div>
          <h3>Adipscing Elit, Sed Do</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-5 mb-4">
      <div class="d-flex">
        <i class="fas fa-cog"></i>
        <div>
          <h3>Adipscing Elit, Sed Do</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-5 mb-4">
      <div class="d-flex">
        <div>
          <i class="fas fa-cog"></i>
        </div>
        <div>
          <h3>Adipscing Elit, Sed Do</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-5 mb-4">
      <div class="d-flex">
        <i class="fas fa-cog"></i>
        <div>
          <h3>Adipscing Elit, Sed Do</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/proven_expertise' %>

<div class="homepage-heading">
  <h1 class="back-line"><span>Guide Library</span></h1>
</div>
<div class="d-none d-sm-block">
  <%= render 'shared/guides' %>
</div>
<div class="d-sm-none mb-5">
  <%= render 'shared/guides_carousel' %>
</div>
<div class="guide-button-container">
  <%= link_to "View our guide library", guides_path, class: "home-btn" %>
</div>

<%= render 'shared/contact_banner' %>




