<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.3), rgba(25, 31, 31, 0.3)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1566546298/037_Hazeldine_20190813_MH16082_Proof.jpg);background-position: top;">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Finance</h3>
    <h1>A London based team of specialist mortgage brokers, experienced in securing high value mortgages</h1>
  </div>
</div>

<%= render 'shared/services' %>

<!-- USPs -->

<div class="homepage-heading">
  <h2 class="back-line"><span>Why Choose Us?</span></h2>
</div>
<div class="container usp-container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-lg-5 mb-4">
      <div class="d-flex">
        <div>
          <i class="fas fa-cog"></i>
        </div>
        <div>
          <h3>Adipscing Elit, Sed Do</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-5 mb-4">
      <div class="d-flex">
        <i class="fas fa-cog"></i>
        <div>
          <h3>Adipscing Elit, Sed Do</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-5 mb-4">
      <div class="d-flex">
        <div>
          <i class="fas fa-cog"></i>
        </div>
        <div>
          <h3>Adipscing Elit, Sed Do</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-5 mb-4">
      <div class="d-flex">
        <i class="fas fa-cog"></i>
        <div>
          <h3>Adipscing Elit, Sed Do</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <%= render 'shared/proven_expertise' %> -->

<div class="container proven-expertise">
  <div class="row">
    <div class="col-12 col-sm-6 proven-expertise-img d-none d-sm-block" style="background-image: linear-gradient(rgba(25, 31, 31, 0.45), rgba(25, 31, 31, 0.45)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1566546292/034_Hazeldine_20190813_MH16111_Proof.jpg);background-position: center;">
    </div>
    <div class="col-12 col-sm-6 m-auto expertise-text-box">
      <h2>Proven Expertise</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <%= link_to 'View our case studies', case_studies_path, class: "green-btn home-btn" %>
    </div>
  </div>
</div>

<div class="homepage-heading">
  <h2 class="back-line"><span>Guide Library</span></h2>
</div>
<div class="d-none d-sm-block">
  <%= render 'shared/guides' %>
</div>
<div class="d-sm-none mb-5">
  <%= render 'shared/guides_carousel' %>
</div>
<div class="guide-button-container">
  <%= link_to "View our guide library", guides_path, class: "home-btn" %>
</div>

<%= render 'shared/contact_banner' %>




