<div class="banner">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Mortgages</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Purchase Mortgages</span></h1>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7">
      <div class="sub-service-text">
        <p>
          Hoping to purchase a property and need a mortgage loan to do it? Buying a home is an exciting time – but it’s not without its stresses. And, whether you’re searching for your first flat, a forever home, or even buying a pied-à-terre in the city, the likelihood is that you’ll need a mortgage.
        </p>
        <p>
          But as you may already have discovered, purchase mortgages can be difficult to arrange, especially if you have any complexities in your profile, or you need to move quickly. That’s where the brokers at Articus Finance step in. Because finding your ideal property is one thing – sourcing the best mortgage deals in a complicated market is quite another.
        </p>
        <p class="title">Why should you use a mortgage broker?</p>
        <p>
          Our brokers have many years’ experience in negotiating mortgages for global clients, so there’s nothing too difficult for us to understand.
        </p>
        <p>
          We regularly assist clients with a range of problems, such as those who require a large mortgage, those who need to secure finance very quickly, those who are enquiring from abroad, or those who have unusual circumstances such as receiving a large part of their income through annual bonuses.
        </p>
        <p>
          All of these things can make it difficult to secure the best mortgage deals. Fortunately, there are a great many specialist and private banks that will likely be a better fit for your circumstances. This, combined with our experience and ability to negotiate, will help you to secure a large mortgage at a great rate with minimal hassle.
        </p>
        <p class="title">Purchase mortgages over £1 million</p>
        <p>
          Are you looking for a mortgage over £1 million pounds? Securing a million pound plus mortgage is certainly more challenging, as many high street lenders will cap their lending in this region. You may also struggle with finding a deal that offers the loan to value you’re searching for, or an appealing interest rate.
        </p>
        <p>
          However, whether you are looking for a purchase mortgage of £1 million, £10 million or even higher, rest assured that it is possible to secure this level of property financing – providing you have access to the right network of lenders, and an intermediary who can negotiate on your behalf.
        </p>
        <p>
          At Articus, we have many years experience in securing high net worth mortgages for clients from around the world – meaning we already have fantastic relationships with the sort of lenders that are best suited to those seeking million pound mortgages or more.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-3 service-guide-padding d-none d-md-block">
      <div class="guide-card fixed-guide">
        <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562245747/guide-cover.png">
        <div class="btn-container">
          <button type="button" class="w-100 home-btn light-btn" data-toggle="modal" data-target="#exampleModal">Download Now</button>
        </div>
      </div>
      <%= render 'shared/modal' %>
      <!-- Model needs to be outside parent fixed guide -->
    </div>
  </div>
</div>

<%= render 'shared/proven_expertise' %>

<%= render 'shared/related_services' %>

<%= render 'shared/contact_banner_pattern' %>
