<% title 'Buy to Let Expat Mortgages' %>
<% description 'Buy to let expat mortgages can be difficult to arrange. Our experienced expat mortgage brokers can help.' %>
<% keywords 'Buy to let expat mortgages, buy to let mortgages for expats, buy to let expat, expay buy to let mortgage rates, buy to let remortgage for expats' %>

<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.45), rgba(25, 31, 31, 0.45)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1565548900/AdobeStock_187432527_Preview.jpg);">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Buy to Let</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Buy to Let Expat Mortgages</span></h1>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7 col-lg-6 col-xl-5">
      <div class="sub-service-text">
        <p>
          Buy to let expat mortgages are an area of expertise for Articus Finance. We regularly deal with British <a href="/expat-mortgages">expats</a> who wish to maintain a foothold in the UK property market, and buy to let property is the ideal way of doing this – for a number of reasons.
        </p>
        <p>
          Unfortunately, there are only a limited number of lenders who will offer buy to let mortgages for expats, so you may need specialist help. Your location will also impact how easy it is to arrange property finance. For example, buy to let mortgages for expats in Australia and much more difficult to arrange than buy to let mortgages for expats in France.
        </p>
        <p class="title">Purchasing a buy to let or building a buy to let portfolio</p>
        <p>
          If you are an expat looking to purchase a buy to let property – or even build a <a href="/portfolio-landlord-mortgages">buy to let portfolio</a> – we can assist. Arranging property finance from abroad can be incredibly complicated, once you begin to factor in challenges like time differences and cross-jurisdictional tax requirements.
        </p>
        <p>
          We have plenty of experience in arranging buy to let mortgages for expats and can help to secure the finance you need with minimal hassle.
        </p>
        <p class="title">Remortgaging from residential to buy to let</p>
        <p>
          One way of entering the buy to let market as an expat is to let out a home you have previously lived in. Letting out a property when moving abroad is a popular way of keeping a UK investment. It might be the case that you know you’ll only be abroad for a number of years, so you don’t want to sell your family home. Or, you could plan to move abroad long term, but simply wish to keep on your property as an investment.
        </p>
        <p>
          Whatever your situation, you’ll need to refinance from a residential mortgage to a buy to let mortgage. If the world of buy to let property finance is completely new to you, we can advise on the process.
        </p>
        <p class="title">What expat buy to let mortgage rates are available? </p>
        <p>
          The rate you can achieve will vary depending on your situation, and is heavily subject to both market fluctuations and the exact details of your circumstances.
        </p>
        <p>
          You are more likely to achieve a good rate by using a specialist broker. Arranging buy to let mortgages for expats is one of our specialities. Regardless of where you have moved to in the world, we have fantastic relationships with lenders who will understand the complexities of your case.
        </p>
        <p>
          In addition to finding a buy to let expat mortgage, it’s likely you will need guidance from a number of other property professionals. We work with a number of trusted partners across the industry and would be happy to recommend other services as required.
        </p>
        <p>
          A broker can also help you navigate issues around salary. As an expat, you may be earning your salary in a foreign currency. If so, we also have industry contacts who can help you to navigate fluctuating exchange rates.
        </p>
      </div>
    </div>
    <%= render 'shared/mortgage_guide' %>
  </div>
</div>

<%= render 'shared/proven_expertise' %>

<div class="homepage-heading">
  <h2 class="back-line"><span>Related Services</span></h2>
</div>
<div class="container services-container mb-5">
  <div class="row">
    <%= render 'shared/buy_to_let/related_mortgages_in_the_UK' %>
    <%= render 'shared/buy_to_let/related_remortgage' %>
    <%= render 'shared/buy_to_let/related_foreign_national' %>
    <%= render 'shared/buy_to_let/related_limited_company' %>
  </div>
</div>

<%= render 'shared/contact_banner_pattern' %>
