<% title 'HMO Mortgages' %>
<% description 'Researching mortgages for HMO properties? We can help you find the best HMO mortgages for your situation.' %>
<% keywords 'Hmo mortgages, mortgages for hmo, hmo mortgage rates' %>

<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.3), rgba(25, 31, 31, 0.3)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1566572009/011_Hazeldine_20130831_P1110265_Proof.jpg); background-position: center;">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Buy to Let</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>HMO Mortgages – Houses in Multiple Occupation</span></h1>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7 col-lg-6 col-xl-5">
      <div class="sub-service-text">
        <p>
          If you’re researching HMO (Houses in Multiple Occupation) mortgages, a thorough understanding of the marketplace and the relevant regulations is vital. So, whether you’re seeking the lowest HMO mortgage rates, remortgaging a HMO property, or simply looking to find out more about HMO mortgages in general, we can help.
        </p>
        <p class="title">What is a HMO?</p>
        <p>
          A HMO is a property rented out by people who are not from the same household, and so not under a single shared tenancy agreement. For example, if you have a property with four tenants renting four separate rooms, each with their own tenancy agreement, this would typically be on a HMO basis.
        </p>
        <p>
          In a HMO property, facilities like kitchens and bathrooms are shared – although obviously, if a room has an ensuite bathroom, this would usually be individual to the tenant in that room.
        </p>
        <p class="title">What are the benefits of HMO properties?</p>
        <p>
          There are pros and cons to operating a rental property as a HMO. On one hand, gross yields are usually higher when you rent out rooms individually. For tenants, meanwhile, the price of a single room is usually cheaper than the price of a one bedroomed flat.
        </p>
        <p class="title">What are the downsides of HMO properties?</p>
        <p>
          However, operating a HMO is often more complicated than a standard rental property. HMO landlords must comply with a wide range of regulations, and you’ll usually need a special license from the local council.
        </p>
        <p>
          These licenses are typically valid for five years, and a separate license is required for each property. And, from October 2018, these licenses became mandatory for landlords with properties rented out to five or more people from over two separate households.
        </p>
        <p>
          Further to this, there are often conditions attached to these licenses, ranging from the landlord being a ‘fit and proper person’ with no criminal record, to providing the council with an updated gas safety certificate every year.
        </p>
        <p class="title">Finding the best HMO mortgage rates</p>
        <p>
          HMO mortgages are also different to <a href="/buy-to-let-mortgages-in-the-UK">standard buy to let finance</a>. You might think that running a HMO is a more appealing option, because it’s typically more profitable than other rentals. However, HMO mortgage rates are higher than their standard buy to let counterparts. Some lenders will only offer HMO mortgages to experienced landlords, too, so there’s a lot to consider here.
        </p>
        <p>
          Using a broker like Articus Finance could help you to secure the best HMO mortgage rates, as we work with buy to let mortgage lenders across the industry and have the expertise to present your case in the best possible light.
        </p>
      </div>
    </div>
    <%= render 'shared/mortgage_guide' %>
  </div>
</div>

<%= render 'shared/proven_expertise' %>

<div class="homepage-heading">
  <h2 class="back-line"><span>Related Services</span></h2>
</div>
<div class="container services-container mb-5">
  <div class="row">
    <%= render 'shared/buy_to_let/related_portfolio_landlord' %>
    <%= render 'shared/buy_to_let/related_mortgages_in_the_UK' %>
    <%= render 'shared/buy_to_let/related_remortgage' %>
    <%= render 'shared/buy_to_let/related_limited_company' %>
  </div>
</div>

<%= render 'shared/contact_banner_pattern' %>
