<% title 'Buy to Let Mortgages' %>
<% description 'Searching for the best buy to let mortgages? Our buy to let mortgages team can help.' %>
<% keywords 'Buy to let mortgages, buy to let mortgages rates, buy to let mortgages criteria' %>

<div class="banner">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Buy to Let</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Buy to Let Mortgages</span></h1>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7">
      <div class="sub-service-text">
        <p>
          Searching for buy to let mortgages? It can be difficult to know where to start, especially since buy to let mortgage criteria changes regularly. There are plenty of regulations to keep up with, and of course, an ever-fluctuating buy to let mortgage market.
        </p>
        <p>
          Articus Finance can help. Whether you want the cheapest buy to let mortgage rates or are simply looking for more information about buy to let mortgage criteria, our brokers have many years’ experience in sourcing buy to let mortgage finance and can advise accordingly.
        </p>
        <p>
          We have excellent relationships with a wide range of buy to let mortgage lenders, so we can help whether you’re buying a new investment, remortgaging a buy to let, or even if you have unusual circumstances.
        </p>
        <p>
          For example, we help expat and foreign national clients from around the world with financing their UK buy to let properties – so whatever the complexity of your situation, we’ll be able to find a solution.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Sub-Services -->

<div class="container tri-services-container mb-5">
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= link_to buy_to_let_mortgage_limited_company_path do %>
        <div class="card-style service-card-tri service-card" style="background-image: linear-gradient(rgba(25,31,31,0.65),rgba(25,31,31,0.65)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
          <div class="service-card-title">
            <h3>BTL Limited Company Mortgages</h3>
          </div>
          <div class="service-card-padding-tri">
            <button class="home-btn">Read More</button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-sm-4">
      <%= link_to buy_to_let_expat_mortgages_path do %>
        <div class="card-style service-card-tri service-card" style="background-image: linear-gradient(rgba(25,31,31,0.65),rgba(25,31,31,0.65)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
          <div class="service-card-title">
            <h3>BTL Expat Mortgages</h3>
          </div>
          <div class="service-card-padding-tri">
            <button class="home-btn">Read More</button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-sm-4">
      <%= link_to portfolio_landlord_mortgages_path do %>
        <div class="card-style service-card-tri service-card" style="background-image: linear-gradient(rgba(25,31,31,0.65),rgba(25,31,31,0.65)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562162210/mews-banner.jpg);">
          <div class="service-card-title">
            <h3>BTL Portfolio Landlord Mortgages</h3>
          </div>
          <div class="service-card-padding-tri">
            <button class="home-btn">Read More</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/contact_banner' %>
