<% title 'Buy to Let Mortgage Limited Company' %>
<% description 'If you need a buy to let mortgage for a limited company, we can advise on the best buy to let mortgage rates.' %>
<% keywords 'Buy to let mortgage limited company, buy to let through limited company, buy to let mortgage rates' %>

<div class="banner">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Buy to Let</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Buy to Let Mortgage Limited Company</span></h1>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7">
      <div class="sub-service-text">
        <p>
          Whether you currently own a buy to let through a limited company or are planning on purchasing in this way, you’ll want to secure the best buy to let mortgage rates. However, mortgaging a buy to let through a limited company is a very different proposition to financing one in your personal name.
        </p>
        <p class="title">What’s different about buy to let mortgages for limited company properties?</p>
        <p>
          Many professional and <a href="/portfolio-landlord-mortgages">portfolio landlords</a> prefer to buy properties through a limited company. Following tax changes like the stamp duty hike and diminishing mortgage interest relief, this is becoming an even more popular route.
        </p>
        <p>
          Landlords who own their properties through a limited company pay Corporation Tax, not Income Tax – so the recent changes to mortgage interest relief, as discussed in this guide, don’t apply. Corporation Tax is currently sub 20%, so this could be a better option to optimise your tax payments.
        </p>
        <p class="title">Should you buy rental property through a limited company?</p>
        <p>
          The answer to whether or not you should buy rental property through a limited company will very much depend on your personal circumstances. If you haven’t already done so, it’s important to consider the costs of setting up a buy to let company.
        </p>
        <p>
          If you already own properties and would like to transfer the ownership to a company, you’ll need to pay stamp duty, and perhaps capital gains tax.
        </p>
        <p class="title">Buy to let mortgages for limited company properties</p>
        <p>
          If you own many mortgaged properties through a limited company, you need to consider your overall borrowing. Some lenders won’t lend to you if you already have more than £5 million worth of finance, for example.
        </p>
        <p>
          Another consideration is the number of buy to let properties you own or plan to own. Some lenders won’t offer mortgages to those who own more than four mortgaged properties in a personal name – but often, those who own through a limited company can have more than ten.
        </p>
        <p>
          At the same time, buy to let mortgage rates for limited companies are often higher than their standard counterparts – and some of the absolute cheapest buy to let mortgage deals are only available to landlords who own in their own name.
        </p>
        <p>
          Not all buy to let lenders will offer mortgages to those buying rental property through a limited company. However, with the relevant industry knowledge and right contacts, it’s still possible to access some very favourable deals.
        </p>
        <p>
          Articus Finance has a wealth of experience in negotiating buy to let mortgages for properties owned via limited companies, so we can confidently advise you on how best to proceed, whether you’re still considering a purchase or are refinancing a rental property owned in this way.
        </p>
      </div>
    </div>
    <%= render 'shared/mortgage_guide' %>
  </div>
</div>

<%= render 'shared/proven_expertise' %>

<div class="homepage-heading">
  <h2 class="back-line"><span>Related Services</span></h2>
</div>
<div class="container services-container mb-5">
  <div class="row">
    <%= render 'shared/buy_to_let/related_mortgages_in_the_UK' %>
    <%= render 'shared/buy_to_let/related_remortgage' %>
    <%= render 'shared/buy_to_let/related_portfolio_landlord' %>
    <%= render 'shared/buy_to_let/related_foreign_national' %>
  </div>
</div>

<%= render 'shared/contact_banner_pattern' %>
