<% title 'Portfolio Landlord Mortgages' %>
<% description 'No matter the complexity, we arrange portfolio landlord mortgages and secure the best portfolio landlord mortgage rates.' %>
<% keywords 'Portfolio landlord mortgages, buy to let portfolio landlords, buy to let mortgages for portfolio landlord, portfolio landlord mortgage rates' %>

<div class="banner">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Buy to Let</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Portfolio Landlord Mortgages</span></h1>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7">
      <div class="sub-service-text">
        <p>
          Buy to let portfolio landlords are those with four or more mortgaged properties. This includes holiday lets and buy to let properties owned in a limited company. Under this definition, it could be a case of a sole application with four or more buy to let mortgages. However, if you’re applying for a buy to let mortgage with a partner, and you both own two mortgaged properties, this would also push you into this bracket.
        </p>
        <p>
          Many full time or professional landlords – those who make their income primarily from rental property – will fall under this bracket, and will need to apply for portfolio landlord mortgages instead of standard buy to let finance.
        </p>
        <p class="title">How are portfolio landlord mortgages different?</p>
        <p>
          Portfolio landlord mortgages work slightly differently. With portfolio landlord finance, it isn’t just a case of assessing an individual property; lenders will consider the borrowing against all of your assets in order to make a decision.
        </p>
        <p>
          The reason behind this is that the UK’s Prudential Regulation Authority (PRA) introduced new guidelines in recent years, instructing lenders to take a more detailed approach to portfolio mortgage lending. Now, lenders are required to carefully examine factors like asset quality, lending across the portfolio, risk, and the investor’s track record.
        </p>
        <p>
          This means arranging buy to let mortgages for a portfolio landlord can be quite challenging, making the experience of a broker like Articus Finance invaluable.
        </p>
        <p class="title">Understanding maximum aggregate loans for portfolio landlords</p>
        <p>
          One challenge that portfolio landlords often face is that many lenders will impose caps on the overall borrowing a landlord can have across their entire portfolio.
        </p>
        <p>
          The maximum aggregate loan size varies from lender to lender, but this can cause difficulties for portfolio landlords – especially if you own buy to let property in London or the South East, where property values are likely to be higher. This is complicated even further if you own very high value property; at Articus, for example, we regularly deal with clients who own rental properties with values in the many millions of pounds.
        </p>
        <p class="title">Why should you use a broker to secure portfolio landlord mortgages?</p>
        <p>
          Portfolio landlord finance is a challenging and long-winded process at the best of times – and since securing the most competitive interest rate and preferable terms can make the difference between a financially successful property portfolio and a struggling one, it’s worth seeking specialist advice.
        </p>
        <p>
          Articus brokers can add real value to landlords seeking the best portfolio landlord mortgage rates. We have contacts across the lending landscape and can use our many years’ experience to assess your portfolio and find the most suitable lender for your case.
        </p>
      </div>
    </div>
    <%= render 'shared/mortgage_guide' %>
  </div>
</div>

<%= render 'shared/proven_expertise' %>

<div class="homepage-heading">
  <h2 class="back-line"><span>Related Services</span></h2>
</div>
<div class="container services-container mb-5">
  <div class="row">
    <%= render 'shared/buy_to_let/related_limited_company' %>
    <%= render 'shared/buy_to_let/related_mortgages_in_the_UK' %>
    <%= render 'shared/buy_to_let/related_foreign_national' %>
    <%= render 'shared/buy_to_let/related_expat' %>
  </div>
</div>

<%= render 'shared/contact_banner_pattern' %>
