<% set_meta_tags title: 'Expat Mortgages & Mortgages for British Expats',
                 description: 'Are you an expat in the UK and looking for advice on mortgages? Or a British expat abroad looking for advice? Our expat mortgage brokers can help.',
                 keywords: 'Expat mortgages, expat mortgage broker, expat mortgage providers, expat mortgage specialist',
                 reverse: true %>

<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.4), rgba(25, 31, 31, 0.4)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568049022/09_Hazeldine_20140414_1150715_Screen.jpg); background-position: center;">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Mortgages</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Expat Mortgages for UK Property</span></h1>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7 col-lg-6 col-xl-5">
      <div class="sub-service-text">
        <p>
          Expat mortgages are one of our specialties. And if you’re a British expat looking to purchase or remortgage a property in the UK, you’ll already know that high value mortgages can be complicated at the best of times.
        </p>
        <p>
          Once you factor time zone differences, cross-jurisdictional legal or tax requirements, and foreign currency into the mix, it’s not hard to see how mortgages for UK expats can be even more difficult to arrange.
        </p>
        <p class="title">Can a British expat get a mortgage in the UK?</p>
        <p>
          The question of whether a British expat can get a mortgage in the UK is a common one. The short answer is yes – but you may already know from experience that applying for a mortgage while living abroad is difficult, and there is a limited pool of lenders who will consider your case. In addition, expats may face more checks and complicated paperwork requirements.
        </p>
        <p>
          Your application will also be affected by your personal circumstances. For example, an expat in France will find fewer challenges than an expat living in China. Meanwhile, if you’re paid in foreign currency, the process will likely be more complicated. But with the assistance of an expat mortgage specialist, it’s certainly possible to achieve a great expat mortgage deal.
        </p>
        <p class="title">Buying property in the UK as an expat</p>
        <p>
          Mortgages for UK expats can be used to help you purchase a property. You may be planning to return from living abroad, and are thus searching for a new home in the UK. Perhaps you’re looking to invest in the UK’s historically stable property market. You might simply be buying a property for a family member to live in, such as a child due to attend university in the UK.
        </p>
        <p>
          Whatever the reason, if you are taking out a residential mortgage, lenders will typically look to see that you are going to be living in the property, and not renting it out.
        </p>
        <p>
          Fortunately, there are a range of expat mortgage providers who are able to assist with purchase mortgages for UK expats. It’s simply a case of accessing the right industry contacts. And with the help of a specialist expat mortgage broker like Articus Finance, the hassle of securing a mortgage while living abroad can be taken out of your hands.
        </p>
        <p class="title">Remortgages for UK expats</p>
        <p>
          The UK property market has a global reputation for stability. So, for many UK expats, it’s only natural to want to hold on to their UK property – even once they’ve moved abroad. However, it does add an additional layer of complication when it comes time to remortgage a property.
        </p>
        <p>
          Without being physically present in the UK, it can be difficult to attend meetings or seek out the best expat mortgage deals for yourself. Articus can handle this on your behalf, using our extensive lender network and many years of experience assisting UK expats. We can also help you remortgage your residential property to a <a href="/buy-to-let-expat-mortgages">buy to let</a>, if you’d like to rent it out while you’re abroad.
        </p>
      </div>
    </div>
    <%= render 'shared/mortgage_guide' %>
  </div>
</div>

<%= render 'shared/proven_expertise' %>

<div class="homepage-heading">
  <h2 class="back-line"><span>Related Services</span></h2>
</div>
<div class="container services-container mb-5">
  <div class="row">
    <%= render 'shared/mortgages/related_interest_only' %>
    <%= render 'shared/mortgages/related_high_ltv' %>
    <%= render 'shared/mortgages/related_remortgage' %>
    <%= render 'shared/mortgages/related_purchase' %>
  </div>
</div>

<%= render 'shared/contact_banner_pattern' %>
