<% title 'Foreign National Mortgages' %>
<% description 'FForeign national mortgages in the UK are complicated – our expert foreign national mortgage brokers make it easy.' %>
<% keywords 'Foreign national mortgages, foreign national mortgage financing, foreign national mortgage rates' %>

<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.3), rgba(25, 31, 31, 0.3)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1566927878/002_Hazeldine_20140514_1170083_Proof.jpg); background-position: center;">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Mortgages</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Foreign National Mortgages in the UK</span></h1>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7 col-lg-6 col-xl-5">
      <div class="sub-service-text">
        <p>
          If you’re looking for a foreign national mortgage, you’re not alone – the UK attracts investors from across the globe. Not only is London one of Europe’s biggest financial hubs, the UK offers a high quality of life, prestigious educational opportunities, and a stable property market.
        </p>
        <p>
          Accordingly, many foreign nationals are keen to purchase property in the UK, whether to live in full time, to use as a holiday home, or even for children studying at university. If this sounds like you, you’ll likely be searching for foreign national mortgage financing – and no doubt hoping to secure the best foreign national mortgage rates.
        </p>
        <p>
          As in virtually all countries, however, securing a foreign national mortgage is more complicated than arranging property finance for a naturalised citizen would be.
        </p>
        <p class="title">Can foreign nationals get a mortgage in the UK?</p>
        <p>
          The term ‘foreign national’ refers to a person who is not a naturalised citizen of the country in which they reside. Foreign nationals are certainly able to buy property in the UK, and London in particular has historically been a hugely attractive investment spot for such individuals.
        </p>
        <p>
          However, buying UK property usually means securing a mortgage – and various factors will affect your application. For example, foreign nationals are often required to place larger deposits than naturalised UK citizens.
        </p>
        <p>
          Mortgages for foreign nationals may also be more expensive, with a higher interest rate. The location of the property may also have an impact on your ability to arrange finance, as it will typically be easier to secure mortgages for foreign nationals in London than in the North of England.
        </p>
        <p>
          Mortgages for foreign nationals are usually considered to be higher risk, so lenders will typically require more stringent background checks, including an assessment of the source of wealth. Ultimately, all of these issues are surmountable – it’s simply a case of having access to the right network of lenders.
        </p>
        <p class="title">Should you use a mortgage broker for your foreign national mortgage?</p>
        <p>
          Securing a mortgage as a foreign national is difficult, no matter where you’re from in the world. Using a specialist foreign national mortgage broker can help the process to run smoothly, and we can also negotiate for the best foreign national mortgage deals on your behalf.
        </p>
        <p>
          Our brokers have many years experience in arranging mortgages for foreign nationals, and are able to navigate these tricky waters to secure attractive terms for our international clientele.
        </p>
        <p>
          In addition to our strong relationships with the top private and specialist banks, we work with the utmost discretion and are well versed in dealing with global clients and their complex backgrounds. This means we’re able to secure the best foreign national mortgage rates with the least hassle.
        </p>
      </div>
    </div>
    <%= render 'shared/mortgage_guide' %>
  </div>
</div>

<%= render 'shared/proven_expertise' %>

<div class="homepage-heading">
  <h2 class="back-line"><span>Related Services</span></h2>
</div>
<div class="container services-container mb-5">
  <div class="row">
    <%= render 'shared/mortgages/related_interest_only' %>
    <%= render 'shared/mortgages/related_high_ltv' %>
    <%= render 'shared/mortgages/related_purchase' %>
    <%= render 'shared/mortgages/related_remortgage' %>
  </div>
</div>

<%= render 'shared/contact_banner_pattern' %>
