<% title 'High Low To Value Mortgage Deals for UK Property' %>
<% description 'Need a high loan to value mortgage or a mortgage with a low deposit? We can source the best high loan to value deals.' %>
<% keywords 'High loan to value mortgages, what is a high loan to value mortgage, high loan to value mortgage deals' %>

<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.3), rgba(25, 31, 31, 0.3)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1566548350/012_Hazeldine_20190813_MH15723_Proof.jpg); background-position: top;">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Mortgages</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>High Loan to Value Mortgages</span></h1>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7 col-lg-6 col-xl-5">
      <div class="sub-service-text">
        <p>
          Looking for a high loan to value mortgage? Many borrowers, including high net worth individuals (HNWIs), are keen to maintain their personal liquidity and therefore hope to secure a mortgage with a low deposit.
        </p>
        <p>
          However, for those borrowing over £1 million, many banks are unwilling to offer mortgages above 80% loan to value – while most high loan to value mortgage deals come with equally high interest rates attached. And the higher your loan size, the lower loan to value most banks will be willing to offer.
        </p>
        <p>
          But with the right help, you could achieve up to 95%, so it’s important to seek specialist advice and consider all of the options, to ensure you receive the best possible deal.
        </p>
        <p class="title">What is a high loan to value mortgage?</p>
        <p>
          A high loan to value mortgage is a mortgage with a low deposit in proportion to the size of the loan. Generally, high loan to value mortgages refer to mortgages at around 80% of the property value or more.
        </p>
        <p>
          This is significant because the loan to value ratio is used by lenders to assess the level of lending risk. This means if you’re looking to purchase a property valued at £1 million, a deposit of £200,000 or less would typically be considered a high loan to value mortgage.
        </p>
        <p class="title">Should you get a high loan to value mortgage?</p>
        <p>
          The question of whether you should get a high loan to value mortgage is a personal one, and will always depend on your exact circumstances. It may be the case that you would prefer to maintain your liquidity for other strategic investments.
        </p>
        <p>
          However, you may find that you can secure cheaper borrowing if you are willing to pursue a lower loan to value mortgage. Ultimately, although it is more difficult to secure a mortgage with a small deposit or minimal equity within a property, it’s far from impossible.
        </p>
        <p class="title">Why is it difficult to get a high loan to value mortgage? </p>
        <p>
          Not all banks are willing to offer high loan to value mortgages, and your ability to secure one will depend on a number of factors. From a lender’s perspective, high loan to value mortgages are more of a risk. As such, the rate you will pay on such a loan will typically be higher, or you may have to place additional collateral.
        </p>
        <p>
          To achieve a competitive rate on a high loan to value mortgage, you will likely need the assistance of an experienced intermediary with a strong network of industry contacts.
        </p>
        <p>
          Articus Finance brokers regularly help our clients to achieve high loan to value mortgage deals. In the past, our brokers have helped clients achieve up to 95% loan to value, and still at a desirable interest rate. So whatever your circumstances, we’ll be able to advise on the best course of action.
        </p>
      </div>
    </div>
    <%= render 'shared/mortgage_guide' %>
  </div>
</div>

<%= render 'shared/proven_expertise' %>

<div class="homepage-heading">
  <h2 class="back-line"><span>Related Services</span></h2>
</div>
<div class="container services-container mb-5">
  <div class="row">
    <%= render 'shared/mortgages/related_purchase' %>
    <%= render 'shared/mortgages/related_interest_only' %>
    <%= render 'shared/mortgages/related_expat' %>
    <%= render 'shared/mortgages/related_foreign_national' %>
  </div>
</div>

<%= render 'shared/contact_banner_pattern' %>
