<% title 'Interest-Only Mortgage Deals for UK Property' %>
<% description 'Need an interest-only mortgage? We’re experienced in interest-only mortgages and can help negotiate the best interest-only mortgage terms for you.' %>
<% keywords 'Interest-only mortgages, interest only mortgages for retired, interest only mortgage rates, benefits of interest only mortgages' %>

<div class="banner">
  <div class="banner-container container banner-container-page">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Mortgages</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Interest-Only Mortgages</span></h1>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7">
      <div class="sub-service-text">
        <p>
          In recent years, it has become much more difficult for borrowers to access interest-only mortgages. But with the right expertise, it’s still possible to secure high value interest-only finance – so if you’re looking for an interest-only mortgage, Articus Finance can assist.
        </p>
        <p>
          Our brokers have many years’ experience sourcing large interest-only mortgages, enabling us to source you the best deal for your circumstances – whether that’s a high loan to value (LTV) or a low interest-only mortgage rate. We work with high street, specialist and private banks, meaning we leave no stone unturned on the hunt to find you an interest-only mortgage.
        </p>
        <p class="title">What is an interest-only mortgage?</p>
        <p>
          With an interest-only mortgage, your monthly repayments will consist only of the interest on your borrowing, and not the capital. Accordingly, your monthly repayments will typically be smaller than a capital repayment mortgage – as you won’t be paying down the loan. Instead, you will pay back the full amount at the end of your mortgage term.
        </p>
        <p>
          Typically, interest-only mortgage terms are much shorter; you could expect a term of between five and seven years. At the end of this term, you will need to either repay the loan in full or refinance onto a capital repayment mortgage.
        </p>
        <p class="title">What are the benefits of an interest-only mortgage?</p>
        <p>
          An interest-only mortgage is an ideal option for many high net worth (HNW) borrowers, and for those looking to maintain their liquidity during the life of a loan.
        </p>
        <p>
          If you have a clear repayment strategy in place for the end of the mortgage term, an interest-only mortgage could help to minimise your monthly payments, giving you lifestyle flexibility or more freedom for other investments.
        </p>
        <p class="title">Why should you use a broker to arrange an interest-only mortgage?</p>
        <p>
          Before the 2008 financial crisis, interest-only mortgages were widely available. Over ten years on, there is a much smaller pool of lenders willing to offer interest-only finance, which means arranging an interest-only mortgage can be challenging.
        </p>
        <p>
          Even once you’ve found a lender, there are further hurdles to overcome. For example, most lenders will limit the loan-to-value (LTV) available on an interest-only mortgage, with many only prepared to lend you up to 50% of the property’s value. Typically, this means you’ll need a large deposit, or plenty of equity in your property if you’re remortgaging.
        </p>
        <p>
          The assistance of an experienced broker is invaluable here, not least because some banks only offer interest-only mortgages through intermediaries. A broker can negotiate on your behalf, meaning you could access the best interest-only mortgage deals available from a range of private or investment banks.
        </p>
        <p>
          We can also help with complex cases, like interest-only mortgages for retired borrowers, or interest-only mortgages for foreign nationals.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-3 service-guide-padding d-none d-md-block">
      <div class="guide-card fixed-guide">
        <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1562245747/guide-cover.png">
        <div class="btn-container">
          <button type="button" class="w-100 home-btn light-btn" data-toggle="modal" data-target="#exampleModal">Download Now</button>
        </div>
      </div>
      <%= render 'shared/modal' %>
    </div>
  </div>
</div>

<%= render 'shared/proven_expertise' %>

<div class="homepage-heading">
  <h1 class="back-line"><span>Related Services</span></h1>
</div>
<div class="container services-container mb-5">
  <div class="row">
    <%= render 'shared/mortgages/related_high_ltv' %>
    <%= render 'shared/mortgages/related_purchase' %>
    <%= render 'shared/mortgages/related_foreign_national' %>
    <%= render 'shared/mortgages/related_self_employed' %>
  </div>
</div>

<%= render 'shared/contact_banner_pattern' %>
