<% set_meta_tags title: 'High Value Mortgages for UK Property',
                 description: 'Looking for high value mortgages? We can negotiate the best mortgages for your situation, regardless of complexity.',
                 keywords: 'Mortgages, compare mortgages, mortgages broker, mortgages rate, mortgages how much can I borrow, best mortgages',
                 reverse: true %>

<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.3), rgba(25, 31, 31, 0.3)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568049023/03_Hazeldine_20190813_MH15851_Screen.jpg);background-position: bottom;">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Mortgages</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>High Value Mortgages For UK Property</span></h1>
</div>

<div class="container">
  <div class="service-text-container text-center">
    <p>
      If you’re looking for high value mortgages in the UK, it can be difficult to know where to start. The UK mortgage market is a complicated one, with many regulations and factors to consider.
    </p>
    <p>
      And of course, if you have a complicated financial situation – such as receiving multiple income streams, large bonuses, or working as a self-employed person – it becomes even harder to access the best mortgage deals.
    </p>
    <p>
      Whether you want to compare mortgages, find the best mortgage rates, work out ‘how much can I borrow?’ or simply establish what mortgage deals are available to you, Articus Finance can help.
    </p>
    <p>
      Our brokers are highly experienced in sourcing mortgages for high net worth clients from around the world, meaning we understand the nuances that exist across the UK mortgage market.
    </p>
  </div>
</div>

<!-- Sub-Services -->

<div class="container tri-services-container mb-5">
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= link_to purchase_mortgages_path do %>
        <div class="card-style service-card-tri service-card" style="background-image: linear-gradient(rgba(25,31,31,0.65),rgba(25,31,31,0.65)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568049028/04_Hazeldine_20130831_P1110268-Edit_Screen.jpg);">
          <div class="service-card-title">
            <h3>Purchase Mortgages</h3>
          </div>
          <div class="service-card-padding-tri">
            <button class="home-btn">Read More</button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-sm-4">
      <%= link_to interest_only_mortgages_path do %>
        <div class="card-style service-card-tri service-card" style="background-image: linear-gradient(rgba(25,31,31,0.65),rgba(25,31,31,0.65)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568049027/06_Hazeldine_20130423_1090820_Screen.jpg);">
          <div class="service-card-title">
            <h3>Interest-only Mortgages</h3>
          </div>
          <div class="service-card-padding-tri">
            <button class="home-btn">Read More</button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-sm-4">
      <%= link_to high_loan_to_value_mortgages_path do %>
        <div class="card-style service-card-tri service-card" style="background-image: linear-gradient(rgba(25,31,31,0.65),rgba(25,31,31,0.65)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1568049032/07_Hazeldine_20190813_MH15723_Screen.jpg);">
          <div class="service-card-title">
            <h3>High Loan to Value Mortgages</h3>
          </div>
          <div class="service-card-padding-tri">
            <button class="home-btn">Read More</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/contact_banner' %>
