<% title 'Remortgage Deals' %>
<% description 'If you’re remortgaging a property and searching for the best mortgage deals, we can help negotiate the best remortgage terms for you.' %>
<% keywords 'Remortgage, remortgage deals, remortgage rates, remortgage process' %>

<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.35), rgba(25, 31, 31, 0.35)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1567008392/002_Hazeldine_20190813_MH15747_Proof.jpg); background-position: bottom;">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Mortgages</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Remortgage</span></h1>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7 col-lg-6 col-xl-5">
      <div class="sub-service-text">
        <p>
          Not sure where to begin with the remortgage process? Sometimes, searching for the best remortgage deals can be just as complicated as sourcing a purchase mortgage. But, since there are a number of reasons why you may be looking to remortgage your property, it’s not a process any mortgaged property owner can ignore.
        </p>
        <p>
          Perhaps you’ve reached the end of your fixed term mortgage deal, and wish to avoid falling onto an expensive Standard Variable Rate (SVR). Having paid down more of your mortgage, you may be looking for more preferable remortgage rates, as a lower loan to value (LTV) is lower risk for lenders and they will thus offer more favourable terms.
        </p>
        <p>
          You may have had a change in circumstances, and wish to adjust your mortgage accordingly. Or, you could be looking to refinance your property to generate liquidity for further investments. Whatever your need is, Articus Finance’s experienced brokers can assess your situation and help find the best remortgage deals for you.
        </p>
        <p class="title">Why should you use a broker to remortgage your property?</p>
        <p>
          If you already have property finance in place, you may be wondering what value a broker can add when it comes to remortgaging. While you may wish to simply remortgage with your existing lender, there’s a high likelihood that you could access a much better remortgage deal – whether that’s a lower interest rate, more flexible terms, or additional borrowing – with the help of a specialist like Articus.
        </p>
        <p>
          For example, we can help you to remortgage your property if your personal situation has changed. Perhaps you’ve changed jobs, grown your family, or moved abroad. We often work with clients who have started to receive a large part of their salary through bonus income or shares, which can be difficult to demonstrate on a remortgage application.
        </p>
        <p>
          You may need to remortgage your property quickly, or – as is often the case for many of our clients – you could have additional investments and a changing financial background that affect your application.
        </p>
        <p>
          It may even be the case that your existing lender has changed their terms, and are no longer able to offer you the best interest rate. Regardless of your motivation, our team can scour the market on your behalf to ensure you receive the best remortgage deal.
        </p>
        <p>
          Our brokers have many years experience dealing with the remortgage process, so we can ensure your application runs smoothly and negotiate your ideal result.
        </p>
      </div>
    </div>
    <%= render 'shared/mortgage_guide' %>
  </div>
</div>

<%= render 'shared/proven_expertise' %>

<div class="homepage-heading">
  <h2 class="back-line"><span>Related Services</span></h2>
</div>
<div class="container services-container mb-5">
  <div class="row">
    <%= render 'shared/mortgages/related_interest_only' %>
    <%= render 'shared/mortgages/related_expat' %>
    <%= render 'shared/mortgages/related_foreign_national' %>
    <%= render 'shared/mortgages/related_self_employed' %>
  </div>
</div>

<%= render 'shared/contact_banner_pattern' %>
