<% title 'Self-Employed Mortgages for UK Property' %>
<% description 'Self-employed mortgages can be complex, but we can help you find the best self-employed mortgage in the UK.' %>
<% keywords 'Self employed mortgages, how self employed get mortgages, best self employed mortgages, mortgaged for self employed without accounts' %>

<div class="banner" style="background-image: linear-gradient(rgba(25, 31, 31, 0.3), rgba(25, 31, 31, 0.3)), url(https://res.cloudinary.com/ddwuu1y0i/image/upload/v1566927765/009_Hazeldine_20190813_MH15663_Proof.jpg); background-position: bottom;">
  <div class="banner-container container">
    <%= image_tag "articus-finance-logo-white.png", class: "homepage-logo" %>
    <h3>Mortgages</h3>
  </div>
</div>

<div class="homepage-heading">
  <h1 class="back-line"><span>Self Employed Mortgages</span></h1>
</div>

<div class="sub-page-container service-margin-top">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7 col-lg-6 col-xl-5">
      <div class="sub-service-text">
        <p>
          Self-employed mortgages can undoubtedly be confusing – and in recent years, mortgages for self-employed people have become more difficult to arrange.
        </p>
        <p>
          Unlike salaried employees, self-employed workers – including freelancers and contractors – often struggle to walk into a bank and secure property finance. This is always frustrating, but even more so for those with an income that would otherwise enable them to acquire a large mortgage with ease.
        </p>
        <p>
          Before the financial crisis, self-employed workers could apply for a ‘self-certification’ mortgage, which enabled individuals to simply tell lenders what they earned. Often, checks were far from stringent, and the practice has subsequently been banned.
        </p>
        <p>
          It’s now much more difficult to secure a mortgage as a self-employed person, and many such individuals find they are unable to borrow the amount they require when it comes time to purchase or remortgage a property.
        </p>
        <p class="title">How do mortgages for self-employed people work?</p>
        <p>
          Wondering how mortgages for self-employed people work? To start with, it isn’t true that you’ll need to seek out an explicitly ‘self-employed mortgage’ product. However, mortgages for self-employed people are calculated differently to traditional salaried employees, particularly in terms of affordability.
        </p>
        <p>
          Typically, to secure a mortgage as a self-employed person, you’ll need two years’ worth of accounts, a consistent track record of regular income, a large deposit, and a strong credit history.
        </p>
        <p>
          Most lenders will consider your average earnings over a period of several years to judge your affordability and assess how much you can feasibly borrow. An accountant is invaluable here, particularly since you’ll need up-to-date files.
        </p>
        <p>
          Your application will also be affected by the way you structure your own employment. Whether you’re a sole trader or the director of a limited company, you’ll be assessed slightly differently by banks.
        </p>
        <p class="title">Why should you use a broker to arrange a self-employed mortgage?</p>
        <p>
          When on the hunt for the best self-employed mortgage rates, most self-employed people can benefit from working with an experienced mortgage broker. And this is especially true if you have any nuances in your case, such as only having been self-employed for a short time, having a gap in your income history, or requiring a large mortgage with a high loan to value.
        </p>
        <p>
          Using our extensive experience and network of industry contacts, we can help you to secure excellent terms on a self-employed mortgage, even if your case is unusual. For example, if you’ve worked for ten years in Financial Services, and are now a contractor in the same area with less than two years’ accounts, we work with lenders who can assist you.
        </p>
        <p>
          There are many potential scenarios here. If you’re a company owner who doesn’t take large dividends, of if your company has retained profits year on year, we can help. We know lenders who will look at draft accounts, and we even have experience helping to arrange mortgages for people who are self-employed without accounts, because they’ve only recently made the move.
        </p>
        <p>
          In short, whatever your specific self-employed situation, we have the experience to help.
        </p>
      </div>
    </div>
    <%= render 'shared/mortgage_guide' %>
  </div>
</div>

<%= render 'shared/proven_expertise' %>

<div class="homepage-heading">
  <h2 class="back-line"><span>Related Services</span></h2>
</div>
<div class="container services-container mb-5">
  <div class="row">
    <%= render 'shared/mortgages/related_high_ltv' %>
    <%= render 'shared/mortgages/related_interest_only' %>
    <%= render 'shared/mortgages/related_purchase' %>
    <%= render 'shared/mortgages/related_remortgage' %>
  </div>
</div>

<%= render 'shared/contact_banner_pattern' %>
