<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% if params[:controller] == 'pages' && %w(about blog guides blog_show).include?(params[:action])
           %>
      <%= display_meta_tags image_src: "https://res.cloudinary.com/ddwuu1y0i/image/upload/v1567506108/Screen_Shot_2019-09-03_at_11.21.04.png" %>
    <% else %>
      <%= display_meta_tags site: 'Articus Finance',
                            image_src: "https://res.cloudinary.com/ddwuu1y0i/image/upload/v1567506108/Screen_Shot_2019-09-03_at_11.21.04.png" %>
    <% end %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700|Open+Sans&display=swap" rel="stylesheet">
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
